<header class="bg-white">
  <nav class="mb-4">
      <%= form_with(method: "get", local: true, class: "flex w-full") do %>
        <%= text_field_tag(:address, @address, placeholder: "address", class: "flex-item grow") %>
        <%= submit_tag("Find Forecast", class: "ml-6 flex-item") %>
      <% end %>
  </nav>
</header>

<% if @forecast.present? %>
  <div id="forecast" class="mb-4 text-gray-800">
    <%= render "current" %>
    <%= render "upcoming" %>
  </div>
<%end%>
<% if @weather_cache_exists %>
  <div class="text-sm text-end text-gray-300 font-mono">
  <%= "CACHED"  %>
  <div>
<%end%>
